.content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.filter-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    flex-wrap: wrap;
}

.filter-container h2 {
    flex: 1;
    font-size: 1.2rem;
    margin-right: 20px;
    color: #69679c;
}

.filter-container form {
    display: flex;
    gap: 10px;
    flex-wrap: nowrap;
    justify-content: space-around;
    flex: 2;
}

.row {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    justify-content: space-around;
}

.filter-container input[type="text"] {
    width: auto;
    flex: 1 1 200px;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.filter-container .btn {
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
    border: none;
    color: white;
    cursor: pointer;
}

.btn {
    background-color: #a09dd3;
}

.filter-container .btn:hover {
    background-color: #807db9;
}

.container {
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.clients-list {
    padding: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.table {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
}

th, td {
    padding: 12px 20px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    font-size: 1rem;
    font-weight: 700;
    color: #69679c;
    border-bottom: 2px solid #807db9;
}

td {
    font-size: 0.95rem;
    color: #666;
}

.table__row {
    transition: background-color 0.3s ease;
}

.table__row:hover {
    background-color: #bfbcf1;
}

@media (max-width: 768px) {
    .filter-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .filter-container form {
        width: 100%;
        flex-direction: column;
    }

    .filter-container input {
        flex: 1;
        width: 100%;
        margin-bottom: 10px;
    }

    .clients-list {
        grid-template-columns: 1fr;
    }

    .pagination .page-item a {
        padding: 6px 12px;
    }
}

@media (max-width: 32rem) {
    .table__heading {
        display: none;
    }

    .table__content {
        display: block;
        padding: 0.5rem 0;
    }

    .table__row {
        margin: 0.25rem 1rem;
        padding: 0.5rem 0;
        display: block;
        border-bottom: 2px solid #FFC842;
    }

    .table__content:before {
        content: attr(data-heading);
        display: inline-block;
        width: 5rem;
        margin-right: 0.5rem;
        color: #999;
        font-size: 0.75rem;
        text-transform: uppercase;
        letter-spacing: 2px;
    }
}

h1, h4 {
    margin: 50px auto 50px auto;
    text-align: center;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.pagination .page-item {
    list-style: none;
}

.pagination .page-item a {
    padding: 8px 16px;
    margin: 0 5px;
    background-color: #f8f9fa;
    color: #a09dd3;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.pagination .page-item a:hover {
    background-color: #807db9;
    color: white;
}
