<div class="container">
	<div class="screen">
		<div class="screen_content">
			<form class="login">
				<div class="login_field">
					<input type="text" class="login_input" placeholder="Email">
				</div>
				<div class="login_field">
					<input type="password" class="login_input" placeholder="Password">
				</div>
				<button class="button login_submit">
					<span class="button_text">Iniciar sesión</span>
				</button>				
			</form>
			<div class="enterprise-login">
				<h3>Ficticia SA</h3>
			</div>
		</div>
		<div class="screen_background">
			<span class="screen_background_shape screen_background_shape4"></span>
			<span class="screen_background_shape screen_background_shape3"></span>		
			<span class="screen_background_shape screen_background_shape2"></span>
			<span class="screen_background_shape screen_background_shape1"></span>
		</div>		
	</div>
</div>