.wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

.main-content {
    display: flex;
    flex: 1;
}

.content-area {
    flex: 1;
    padding: 2rem;
    overflow-y: auto;
}


@media (max-width: 768px) {
    .wrapper {
        flex-direction: column;
    }

    .main-content {
        flex-direction: column;
    }

    .content-area {
        padding: 1rem;
    }

    .header {
        padding: 1rem;
    }
}