<section>
    <aside class="sidebar">
      <ul class="sidebar_list">

        @for(let route of menuItems, trackby route.data?.title) {
        <li class="sidebar_element">

            @if(route.children && route.children.length > 0){
          <a [routerLink]="route.path" class="sidebar_link">
            <p class="sidebar_text">{{ route.data?.title }}</p>
          </a>
            } else { showLink }

          <ng-template #showLink>
            <a [routerLink]="route.path" class="sidebar_link">
              <p class="sidebar_text">{{ route.data?.title }}</p>
            </a>
          </ng-template>
  
          @if(route.children && route.children.length > 0){
            <ul class="submenu">
            @for(let child of route.children, trackby child.data?.title) {
            <li class="submenu_item">
                <a [routerLink]="child.path" class="submenu_link">
                <p class="sidebar_text">{{ child.data?.title }}</p>
                </a>
            </li>
            }

            </ul>

          }
        }
        </li>


      </ul>
    </aside>
  </section>